<section id="about" class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto mt-5">
        <h1 class="fw-light">{{ .Site.Params.about_page.title }}</h1>
        <p class="lead text-muted">{{ .Site.Params.about_page.subtitle }}</p>        
      </div>
      <div class="col-lg-6 col-md-8 mx-auto">
        <div class="">
          <img src="{{ .Site.Params.about_page.image }}" class="rounded-circle" style="height: 450px; width:auto;">
        </div>   
      </div>
    </div>
  </section>
