<section id="prices" class="pt-2 container c-width">
  <h3 class="text-center">Prices</h3>
  <p class="text-center">Consider what service package is right for you!</p>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center justify-content-md-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Basic</h4>
            </div>
            <div class="card-header bg-success">
              <h4 class="text-white pt-2">1000ft<sup>2</sup> - 2000ft<sup>2</sup></h4>
            </div>
            <div class="card-body">
              <h1 class="card-title">$40<small class="text-muted fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>10 users included</li>
                <li>2 GB of storage</li>
                <li>Email support</li>
                <li>Help center access</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-success">Sign up for free</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Mid</h4>
            </div>
            <div class="card-header bg-success">
              <h4 class="text-white pt-2">2001ft<sup>2</sup> - 3000ft<sup>2</sup></h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>20 users included</li>
                <li>10 GB of storage</li>
                <li>Priority email support</li>
                <li>Help center access</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-success">Get started</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">High</h4>
            </div>
            <div class="card-header bg-success">
              <h4 class="text-white pt-2">3001ft<sup>2</sup> - 6000ft<sup>2</sup></h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>30 users included</li>
                <li>15 GB of storage</li>
                <li>Phone and email support</li>
                <li>Help center access</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-success">Contact us</button>
            </div>
          </div>
        </div>
      </div>
</section>