{{ if isset .Site.Params "reviews" }}
{{ if .Site.Params.reviews.enable }}

<section class="container-fluid">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner text-center py-5">
          {{ range seq 1 3 (len site.Data.reviews) }}
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="d-flex justify-content-center">
              <div class="row w-50">
                {{ range seq . (add . 2) }}
                {{ with (index site.Data.reviews (string .)) }}
                <div class="col">
                  <figure class="">
                    <blockquote class="blockquote">
                      <p>{{ .des }}</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      {{ .author }}
                    </figcaption>
                  </figure>
                  <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="far fa-star fa-sm"></i></li>
                  </ul>
                </div>        
                {{ end }}
                {{ end }}        
              </div>
            </div>
          </div>
          {{ end }}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>
{{ end }}
{{ end }}