{{ if isset .Site.Params "services" }}
{{ if .Site.Params.services.enable }}
{{ if gt (len .Site.Data.services) 0 }}
<section id="services">
  
<div class="py-5 bg-light">
  <h2 class="text-center py-5 fw-light">{{ .Site.Params.services.title }}</h2>
    <div class="container d-flex align-items-center justify-content-center">
      
      <!--Card-->
      <div class="row d-flex row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ms-auto">
        {{ range .Site.Data.services }}
        <div class="col d-flex justify-content-center">
          <div class="card shadow-sm" style="width: 20rem;">
            <img src="{{ .cardimg }}" class="card-img-top">
            <div class="card-body">
              <p class="card-text">{{ .description }}</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="w-100 btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#{{ .modalid }}">
                  More Info ></button>
                </div>                
              </div>
            </div>
          </div>
        </div>
      <!--Modal-->
      <div class="modal fade" id="{{ .modalid }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{ .modaltitle }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col"><img src="{{ .modalimg }}" class="card-img-top"></div>
                <div class="col">{{ .modaldes }}</div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div> 
      {{ end }}            
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}