<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="h-100">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>        

          {{ partial "nav.html" . }}

        </header>
       <main class="container-fluid g-0">
        {{ partial "hero.html" . }}
        {{ partial "services.html" . }}
        {{ partial "prices.html" . }}  
        {{ partial "reviews.html" . }}      
       
       </main>
       {{ partial "footer.html" . }}
    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
  </html>